/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $btn-text-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @include mq ('md') {
    padding: 10px 30px;
    &+.btn {
      margin-left: 10px;
    }
  }
}

@include set-btns($buttons);