/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {

    &-avatar,
    &-frame,
    &-logo {
        @include center;
    }

    &-avatar,
    &-frame {
        margin-top: 10px;
        max-width: 100%;
    }

    &-avatar {
        max-height: 100%;
    }

    &-frame {
        padding: 13px;
        border: 1px solid $img-border-primary;
    }
}