  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */

  * {
      font-family: 'Lato', sans-serif;
      color:  $body-text-primary;
      box-sizing: border-box;
  }

  p {
      line-height: 1.45em;
  }

  a {
      text-decoration: none;
  }

  .headline-primary {
      color: $heading-text-primary;
      margin-left: 10px;
  }

  .headline-secondary {
      font-weight: 300;
      color: $heading-text-secondary;
  }

  .link {
      color: $link-text-primary;
      font-weight: 700;
  }

  .blockquote {
      font-size: 1.5em;
      font-weight: 300;
      font-style: italic;
      margin-left: 20px;
      padding-left: 20px;
      border-left: 8px solid $blockquote-border-primary;
      border-radius: 5px;
  }